.content {
    font-weight: 500;
}

.header {
    min-height: 36px;
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.back-btn {
    height: 100%;
    width: 60px;
    cursor: pointer;
    position: absolute;
}

.header-title {
    margin: auto;
}
